/* Global CSS Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        #scrollBtn {
            position: fixed; 
            bottom: 20px; 
            right: 20px; 
            z-index: 1000; 
            background-color: #6C63FF; 
            color: #fff; 
            border: none; 
            border-radius: 50%; 
            width: 50px; 
            height: 50px;
            font-size: 24px; 
            cursor: pointer; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            display: none; 
            transition: background-color 0.3s ease; 
        }
        
        #scrollBtn:hover {
            background-color: #5752d1; 
        }


        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f9f9f9;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .logo {
            font-family: 'Sacramento', cursive;
            font-size: 2rem;
            font-weight: bold;
            color: #4e47d3;
        }

        header a {
            text-decoration: none;
            color: #333;
            margin: 0 1rem;
            font-weight: bold;
        }

        header a:hover {
            color: #4e47d3;
        }

        .hero {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            max-width: 1200px;
            margin: 0 auto;
        }

        .hero-text {
            flex: 1;
            padding-right: 2rem;
        }

        .hero-text h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .hero-text p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        .hero-text .buttons a {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            margin-right: 1rem;
            font-size: 1rem;
            color: #fff;
            background-color: #6c63ff;
            border-radius: 5px;
            text-decoration: none;
        }

        .hero-text .buttons a:hover {
            background-color: #5753c9;
        }

        .social-icons {
            margin-top: 1rem;
        }

        .social-icons a {
            margin-right: 0.5rem;
            margin-top: 1rem;
            font-size: 2rem;
            color: #32bd1f;
        }

        .social-icons a:hover {
            color: #6c63ff;
        }

        .hero-image {
            flex: 1;
            text-align: center;
        }

        .hero-image img {
            max-width: 75%;
            height: auto;
        }

        /* What I Do Section */
        .what-i-do {
            display: flex;
            flex-direction: row-reverse; 
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            max-width: 1200px;
            margin: 2rem auto;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .what-i-do .content {
            flex: 1;
            padding-right: 2rem;
        }

        .what-i-do h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .what-i-do p {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
        }

        .what-i-do ul {
            list-style: none;
        }

        .what-i-do ul li {
            margin-bottom: 1rem;
            font-size: 1rem;
        }

        .what-i-do ul li:before {
            content: '\1F680';
            margin-right: 0.5rem;
        }

        .what-i-do .icons {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
        }

        .what-i-do .icons img {
            width: 50px;
            height: 50px;
            margin: 0.5rem;
        }

        .what-i-do .illustration {
            flex: 1;
            text-align: center;
        }

        .what-i-do .illustration img {
            max-width: 100%;
            height: auto;
        }

    /* Proficiency Section */
    .proficiency {
    background-color: #f8f9fa;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

    .proficiency h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    
}

    .skills {
    flex: 1;
    padding-right: 2rem;
}

    .skill {
    margin-bottom: 20px;
}

.skill-label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.progress-bar {
    position: relative;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #8a2be2;
    border-radius: 5px;
}

.illustration {
    flex: 1;
    text-align: center;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .proficiency {
        flex-direction: column;
        text-align: center;
    }

    .skills {
        padding-right: 0;
        margin-bottom: 2rem;
    }
}


/* Open Source Projects Section */
.open-source-projects {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.open-source-projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px;
}

.project-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.project-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #555;
}

.project-meta .stars {
    color: #333;
}

.project-meta .size {
    color: #888;
}

.more-projects {
    text-align: center;
    margin-top: 20px;
}

.more-projects a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.more-projects a:hover {
    background-color: #5753c9;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto);
    }
}

/* Projects Section */
#projects {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
  }
  
  #projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .project {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 20px;
  }
  
  .project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
  }
  
  .project h3 {
    font-size: 24px;
    margin: 15px 0 10px;
    color: #333;
  }
  
  .project p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 20px 20px;
    color: #666;
  }
  
  .project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #5753C9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }


  /* Achievements Section */
.achievements-section {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.achievements-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.achievement-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.achievement-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.achievement-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.achievement-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.achievement-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.achievement-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.achievement-links a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.achievement-links a:hover {
    background-color: #5753c9;
}

@media (max-width: 768px) {
    .achievements-grid {
        grid-template-columns: 1fr;
    }
}

/* Contact Section */
#contact-section {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.reach-out .contact-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-out h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.reach-out .contact-subtitle {
    font-size: 22px;
    color: #666;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.contact-text {
    flex: 1;
    margin-right: 30px;
}

.contact-text p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.contact-image {
    position: relative;
    width: 240px;
    height: 240px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #6C63FF;
}

/* Social Media Icons */
.social-media-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start; 
    width: 100%; 
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-5px);
}

.social-icon i {
    font-size: 18px;
    color: #333;
}


/* footer-section */
.footer {
    background-color: #333; 
    color: #fff; 
    padding: 30px 0; 
    text-align: center; 
    font-family: 'Poppins', sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
}

.footer p {
    margin: 0;
    letter-spacing: 0.5px; 
}



/* Reposive For Mobile Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Header and Hamburger Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-size: 1.5rem;
    color: #6C63FF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #6C63FF;
    margin: 4px 0;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #6C63FF;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
}

.hero-text {
    flex: 1;
    padding-right: 2rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.hero-text .buttons {
    display: flex;
    gap: 1rem;
}

.hero-text .buttons a {
    padding: 0.75rem 1.5rem;
    background-color: #6C63FF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-text .buttons a:hover {
    background-color: #5753c9;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 80%;
    height: auto;
    margin-top: 10%;
}

/* Contact Section */
.reach-out {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container {
    text-align: center;
}

.contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}

.contact-subtitle {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.contact-text {
    flex: 1;
    text-align: left;
}

.contact-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.social-media-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-media-icons img {
    width: 30px;
    height: 30px;
}

.contact-image {
    flex: 1;
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #6C63FF;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .hero {
        flex-direction: column;
        padding: 4rem 1rem 1rem;
    }

    .hero-text {
        padding-right: 0;
        text-align: center;
    }

    .hero-text .buttons {
        flex-direction: column;
        align-items: center;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-text {
        text-align: center;
    }
}